<header class="header">
    <nav class="navbar">
      <div class="open">
        <span (click)="openMenu()" style="cursor:pointer">&#9776;</span>
      </div>
      <img src="/src/assets/img/Carvajal_logo_1.png" alt="carvajal logo" class="logo">
      <div class="right">
        <img src="assets/img/icon_user-fotor 1.png" alt="Icono de Usuario" class="user-icon">
        <span class="user-text">luizapma</span>
      </div>
    </nav>
  </header>
  
  <div id="menuContainer" style="display: none;">
    <ul>  
      <li><a href="/home" class="menuOption">Home</a></li>  
      <li><a href="/flujo-in" class="menuOption">Flujo In</a></li>  
      <li><a href="/flujo-out" class="menuOption">Flujo Out</a></li>  
      <li><a href="/login" class="menuOption">Login</a></li>  
    </ul>  
    
  </div> 
  

  <main>

  </main>
  